<div class="grid grid-cols-1 2xl:grid-cols-2 gap-[25px] mb-[25px]">

    <!-- Projects Overview -->
    <app-projects-overview />

    <!-- Projects Roadmap -->
    <app-projects-roadmap />

</div>

<div class="grid grid-cols-1 lg:grid-cols-5 gap-[25px] mb-[25px]">
    <div class="lg:col-span-3">

        <!-- Projects Progress -->
        <app-projects-progress />

    </div>
    <div class="lg:col-span-2">

        <!-- My Tasks -->
        <app-my-tasks />

    </div>
</div>

<!-- All Projects -->
<app-all-projects />

<div class="grid grid-cols-1 lg:grid-cols-3 gap-[25px] mb-[25px]">

    <!-- Project Analysis -->
    <app-project-analysis />

    <!-- Team Members -->
    <app-team-members />

    <!-- Working Schedule -->
    <app-working-schedule />

</div>
    
<div class="grid grid-cols-1 lg:grid-cols-3 gap-[25px] mb-[25px]">
    <div class="lg:col-span-2">

        <!-- To Do List -->
        <app-to-do-list />

    </div>
    <div class="lg:col-span-1">

        <!-- Tasks Overview -->
        <app-tasks-overview />

    </div>
</div>