<div class="bg-primary-100 dark:bg-[#0a0e19] p-[20px] rounded-md">
    <span class="block">
        New Bookings
    </span>
    <h1 class="!leading-none !text-2xl !font-black mt-[5px] !mb-[11px]">
        1540
    </h1>
    <span class="inline-block text-xs px-[9px] text-danger-700 border border-danger-400 bg-danger-100 dark:bg-[#15203c] dark:border-[#15203c] rounded-[100px]">
        -4.15%
    </span>
    <div class="bg-white dark:bg-[#0c1427] rounded-full w-[79px] h-[79px] flex items-center justify-end -mt-[14px] ltr:ml-auto rtl:mr-auto">
        <img src="images/icons/add-event2.svg" alt="add-event">
    </div>
</div>