<div class="grid grid-cols-1 lg:grid-cols-3 gap-[25px] mb-[25px]">
    <div class="lg:col-span-2">

        <!-- Stats -->
        <app-stats />

        <div class="grid grid-cols-1 lg:grid-cols-2 gap-[25px] mb-[25px]">

            <!-- Rooms Availability -->
            <app-rooms-availability />

            <!-- Guest Activity -->
            <app-guest-activity />

        </div>

        <!-- Upcoming VIP Reservations -->
        <app-upcoming-vip-reservations />

    </div>
    <div class="lg:col-span-1">

        <!-- Recent Bookings -->
        <app-recent-bookings />

    </div>
</div>

<!-- Popular Rooms -->
<app-popular-rooms />

<!-- Customer Reviews -->
<app-customer-reviews />