<div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-4 gap-[25px] mb-[25px]">

    <!-- Revenue Growth -->
    <app-revenue-growth />

    <!-- Lead Conversion -->
    <app-lead-conversion />

    <!-- Total Orders -->
    <app-total-orders />

    <!-- Annual Profit -->
    <app-annual-profit />

</div>

<div class="grid grid-cols-1 lg:grid-cols-3 gap-[25px] mb-[25px]">
    <div class="lg:col-span-2">

        <!-- Balance Overview -->
        <app-balance-overview />
        
    </div>
    <div class="lg:col-span-1">

        <!-- Leads by Source -->
        <app-leads-by-source />

    </div>
</div>

<div class="grid grid-cols-1 lg:grid-cols-3 gap-[25px] mb-[25px]">
    <div class="lg:col-span-1">

        <!-- Top Performers -->
        <app-top-performers />

    </div>
    <div class="lg:col-span-2">

        <!-- Recent Leads -->
        <app-recent-leads />

    </div>
</div>
    
<div class="grid grid-cols-1 lg:grid-cols-3 gap-[25px] mb-[25px]">
    <div class="lg:col-span-2">

        <!-- Sales Report -->
        <app-sales-report />

    </div>
    <div class="lg:col-span-1">

        <!-- Top Products by Sales -->
        <app-top-products-by-sales />

    </div>
</div>