<div class="trezo-card bg-white dark:bg-[#0c1427] p-[20px] md:p-[25px] rounded-md">
    <div class="trezo-card-header mb-[20px] md:mb-[25px] flex items-center justify-between">
        <div class="trezo-card-title">
            <h5 class="!mb-0">
                Price Movement
            </h5>
        </div>
        <div class="trezo-card-subtitle">
            <button type="button" class="inline-block transition-all w-[40px] h-[30px] rounded-[4px] border border-primary-500 dark:border-[#172036] bg-primary-500 text-white mx-[3px] ltr:first:ml-0 rtl:first:mr-0 ltr:last:mr-0 rtl:last:ml-0">
                1h
            </button>
            <button type="button" class="inline-block transition-all w-[40px] h-[30px] rounded-[4px] border border-gray-100 dark:border-[#172036] hover:bg-primary-500 hover:text-white hover:border-primary-500 mx-[3px] ltr:first:ml-0 rtl:first:mr-0 ltr:last:mr-0 rtl:last:ml-0">
                1d
            </button>
            <button type="button" class="inline-block transition-all w-[40px] h-[30px] rounded-[4px] border border-gray-100 dark:border-[#172036] hover:bg-primary-500 hover:text-white hover:border-primary-500 mx-[3px] ltr:first:ml-0 rtl:first:mr-0 ltr:last:mr-0 rtl:last:ml-0">
                1w
            </button>
            <button type="button" class="inline-block transition-all w-[40px] h-[30px] rounded-[4px] border border-gray-100 dark:border-[#172036] hover:bg-primary-500 hover:text-white hover:border-primary-500 mx-[3px] ltr:first:ml-0 rtl:first:mr-0 ltr:last:mr-0 rtl:last:ml-0">
                1m
            </button>
        </div>
    </div>
    <div class="trezo-card-content">
        <div class="-mt-[18px] -mb-[15px]">
            <div id="price_movement_chart"></div>
            <div id="price_movement_chart2" class="-mt-[12px]"></div>
        </div>
    </div>
</div>