<div class="trezo-card bg-white dark:bg-[#0c1427] p-[20px] md:p-[25px] rounded-md">
    <div class="trezo-card-header mb-[20px] md:mb-[25px] flex items-center justify-between">
        <div class="trezo-card-title">
            <h5 class="!mb-0">
                Transactions History
            </h5>
        </div>
        <div class="trezo-card-subtitle">
            <div class="trezo-card-dropdown relative">
                <button type="button" class="trezo-card-dropdown-btn inline-block transition-all text-[26px] text-gray-500 dark:text-gray-400 leading-none hover:text-primary-500" (click)="toggleCardHeaderMenu()">
                    <i class="ri-more-fill"></i>
                </button>
                @if (isCardHeaderOpen) {
                    <ul class="trezo-card-dropdown-menu transition-all bg-white shadow-3xl rounded-md top-full py-[15px] absolute ltr:right-0 rtl:left-0 w-[195px] z-[5] dark:bg-dark dark:shadow-none">
                        <li>
                            <button type="button" class="block w-full transition-all text-black ltr:text-left rtl:text-right relative py-[8px] px-[20px] hover:bg-gray-50 dark:text-white dark:hover:bg-black">
                                This Day
                            </button>
                        </li>
                        <li>
                            <button type="button" class="block w-full transition-all text-black ltr:text-left rtl:text-right relative py-[8px] px-[20px] hover:bg-gray-50 dark:text-white dark:hover:bg-black">
                                This Week
                            </button>
                        </li>
                        <li>
                            <button type="button" class="block w-full transition-all text-black ltr:text-left rtl:text-right relative py-[8px] px-[20px] hover:bg-gray-50 dark:text-white dark:hover:bg-black">
                                This Month
                            </button>
                        </li>
                        <li>
                            <button type="button" class="block w-full transition-all text-black ltr:text-left rtl:text-right relative py-[8px] px-[20px] hover:bg-gray-50 dark:text-white dark:hover:bg-black">
                                This Year
                            </button>
                        </li>
                    </ul>
                }
            </div>
        </div>
    </div>
    <div class="trezo-card-content -mx-[20px] md:-mx-[25px]">
        <div class="table-responsive overflow-x-auto">
            <table class="w-full">
                <tbody class="text-black dark:text-white">
                    <tr>
                        <td class="text-sm ltr:text-left rtl:text-right whitespace-nowrap px-[20px] py-[11.8px] md:ltr:first:pl-[25px] md:rtl:first:pr-[25px] border-b border-gray-100 dark:border-[#172036]">
                            <div class="flex items-center">
                                <div class="w-[22px]">
                                    <img alt="cryptocurrency-image" src="images/cryptocurrencies/bitcoin.svg">
                                </div>
                                <span class="block font-medium ltr:ml-[8px] rtl:mr-[8px]">
                                    Bitcoin
                                    <span class="text-gray-500 dark:text-gray-400 text-xs font-normal">(BTC)</span>
                                </span>
                            </div>
                        </td>
                        <td class="text-center whitespace-nowrap px-[20px] py-[11.8px] md:ltr:first:pl-[25px] md:rtl:first:pr-[25px] border-b border-gray-100 dark:border-[#172036]">
                            <span class="inline-block py-[2px] px-[8px] rounded-[4px] text-xs font-medium bg-success-100 dark:bg-[#15203c] text-success-600">
                                Sold
                            </span>
                        </td>
                        <td class="text-sm ltr:text-right rtl:text-left whitespace-nowrap px-[20px] py-[11.8px] md:ltr:first:pl-[25px] md:rtl:first:pr-[25px] border-b border-gray-100 dark:border-[#172036]">
                            $68848.92
                        </td>
                    </tr>
                    <tr>
                        <td class="text-sm ltr:text-left rtl:text-right whitespace-nowrap px-[20px] py-[11.8px] md:ltr:first:pl-[25px] md:rtl:first:pr-[25px] border-b border-gray-100 dark:border-[#172036]">
                            <div class="flex items-center">
                                <div class="w-[22px]">
                                    <img alt="cryptocurrency-image" src="images/cryptocurrencies/ethereum.svg">
                                </div>
                                <span class="block font-medium ltr:ml-[8px] rtl:mr-[8px]">
                                    Ethereum
                                    <span class="text-gray-500 dark:text-gray-400 text-xs font-normal">(ETH)</span>
                                </span>
                            </div>
                        </td>
                        <td class="text-center whitespace-nowrap px-[20px] py-[11.8px] md:ltr:first:pl-[25px] md:rtl:first:pr-[25px] border-b border-gray-100 dark:border-[#172036]">
                            <span class="inline-block py-[2px] px-[8px] rounded-[4px] text-xs font-medium bg-danger-100 dark:bg-[#15203c] text-danger-600">
                                Withdraw
                            </span>
                        </td>
                        <td class="text-sm ltr:text-right rtl:text-left whitespace-nowrap px-[20px] py-[11.8px] md:ltr:first:pl-[25px] md:rtl:first:pr-[25px] border-b border-gray-100 dark:border-[#172036]">
                            $2565.77
                        </td>
                    </tr>
                    <tr>
                        <td class="text-sm ltr:text-left rtl:text-right whitespace-nowrap px-[20px] py-[11.8px] md:ltr:first:pl-[25px] md:rtl:first:pr-[25px] border-b border-gray-100 dark:border-[#172036]">
                            <div class="flex items-center">
                                <div class="w-[22px]">
                                    <img alt="cryptocurrency-image" src="images/cryptocurrencies/binance.svg">
                                </div>
                                <span class="block font-medium ltr:ml-[8px] rtl:mr-[8px]">
                                    Binance
                                    <span class="text-gray-500 dark:text-gray-400 text-xs font-normal">(BNB)</span>
                                </span>
                            </div>
                        </td>
                        <td class="text-center whitespace-nowrap px-[20px] py-[11.8px] md:ltr:first:pl-[25px] md:rtl:first:pr-[25px] border-b border-gray-100 dark:border-[#172036]">
                            <span class="inline-block py-[2px] px-[8px] rounded-[4px] text-xs font-medium bg-success-100 dark:bg-[#15203c] text-success-600">
                                Sold
                            </span>
                        </td>
                        <td class="text-sm ltr:text-right rtl:text-left whitespace-nowrap px-[20px] py-[11.8px] md:ltr:first:pl-[25px] md:rtl:first:pr-[25px] border-b border-gray-100 dark:border-[#172036]">
                            $2565.77
                        </td>
                    </tr>
                    <tr>
                        <td class="text-sm ltr:text-left rtl:text-right whitespace-nowrap px-[20px] py-[11.8px] md:ltr:first:pl-[25px] md:rtl:first:pr-[25px] border-b border-gray-100 dark:border-[#172036]">
                            <div class="flex items-center">
                                <div class="w-[22px]">
                                    <img alt="cryptocurrency-image" src="images/cryptocurrencies/tether.svg">
                                </div>
                                <span class="block font-medium ltr:ml-[8px] rtl:mr-[8px]">
                                    Tether
                                    <span class="text-gray-500 dark:text-gray-400 text-xs font-normal">(USDT)</span>
                                </span>
                            </div>
                        </td>
                        <td class="text-center whitespace-nowrap px-[20px] py-[11.8px] md:ltr:first:pl-[25px] md:rtl:first:pr-[25px] border-b border-gray-100 dark:border-[#172036]">
                            <span class="inline-block py-[2px] px-[8px] rounded-[4px] text-xs font-medium bg-success-100 dark:bg-[#15203c] text-success-600">
                                Sold
                            </span>
                        </td>
                        <td class="text-sm ltr:text-right rtl:text-left whitespace-nowrap px-[20px] py-[11.8px] md:ltr:first:pl-[25px] md:rtl:first:pr-[25px] border-b border-gray-100 dark:border-[#172036]">
                            $1.00
                        </td>
                    </tr>
                    <tr>
                        <td class="text-sm ltr:text-left rtl:text-right whitespace-nowrap px-[20px] py-[11.8px] md:ltr:first:pl-[25px] md:rtl:first:pr-[25px] border-b border-gray-100 dark:border-[#172036]">
                            <div class="flex items-center">
                                <div class="w-[22px]">
                                    <img alt="cryptocurrency-image" src="images/cryptocurrencies/xrp.svg">
                                </div>
                                <span class="block font-medium ltr:ml-[8px] rtl:mr-[8px]">
                                    XRP
                                    <span class="text-gray-500 dark:text-gray-400 text-xs font-normal">(XRP)</span>
                                </span>
                            </div>
                        </td>
                        <td class="text-center whitespace-nowrap px-[20px] py-[11.8px] md:ltr:first:pl-[25px] md:rtl:first:pr-[25px] border-b border-gray-100 dark:border-[#172036]">
                            <span class="inline-block py-[2px] px-[8px] rounded-[4px] text-xs font-medium bg-danger-100 dark:bg-[#15203c] text-danger-600">
                                Withdraw
                            </span>
                        </td>
                        <td class="text-sm ltr:text-right rtl:text-left whitespace-nowrap px-[20px] py-[11.8px] md:ltr:first:pl-[25px] md:rtl:first:pr-[25px] border-b border-gray-100 dark:border-[#172036]">
                            $0.529105
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="px-[20px] md:px-[25px] pt-[12px] sm:flex sm:items-center justify-between">
            <p class="!mb-0 text-sm">
                Showing 5 of 36 results
            </p>
            <ol class="mt-[10px] sm:mt-0">
                <li class="inline-block mx-[3px] ltr:first:ml-0 ltr:last:mr-0 rtl:first:mr-0 rtl:last:ml-0">
                    <a routerLink="." class="w-[31px] h-[31px] block leading-[29px] relative text-center rounded-md border border-gray-100 dark:border-[#172036] transition-all hover:bg-primary-500 hover:text-white hover:border-primary-500">
                        <span class="opacity-0">
                            0
                        </span>
                        <i class="material-symbols-outlined left-0 right-0 absolute top-1/2 -translate-y-1/2">
                            chevron_left
                        </i>
                    </a>
                </li>
                <li class="inline-block mx-[3px] ltr:first:ml-0 ltr:last:mr-0 rtl:first:mr-0 rtl:last:ml-0">
                    <a routerLink="." class="w-[31px] h-[31px] block leading-[29px] relative text-center rounded-md border border-primary-500 bg-primary-500 text-white">
                        1
                    </a>
                </li>
                <li class="inline-block mx-[3px] ltr:first:ml-0 ltr:last:mr-0 rtl:first:mr-0 rtl:last:ml-0">
                    <a routerLink="." class="w-[31px] h-[31px] block leading-[29px] relative text-center rounded-md border border-gray-100 dark:border-[#172036] transition-all hover:bg-primary-500 hover:text-white hover:border-primary-500">
                        2
                    </a>
                </li>
                <li class="inline-block mx-[3px] ltr:first:ml-0 ltr:last:mr-0 rtl:first:mr-0 rtl:last:ml-0">
                    <a routerLink="." class="w-[31px] h-[31px] block leading-[29px] relative text-center rounded-md border border-gray-100 dark:border-[#172036] transition-all hover:bg-primary-500 hover:text-white hover:border-primary-500">
                        3
                    </a>
                </li>
                <li class="inline-block mx-[3px] ltr:first:ml-0 ltr:last:mr-0 rtl:first:mr-0 rtl:last:ml-0">
                    <a routerLink="." class="w-[31px] h-[31px] block leading-[29px] relative text-center rounded-md border border-gray-100 dark:border-[#172036] transition-all hover:bg-primary-500 hover:text-white hover:border-primary-500">
                        4
                    </a>
                </li>
                <li class="inline-block mx-[3px] ltr:first:ml-0 ltr:last:mr-0 rtl:first:mr-0 rtl:last:ml-0">
                    <a routerLink="." class="w-[31px] h-[31px] block leading-[29px] relative text-center rounded-md border border-gray-100 dark:border-[#172036] transition-all hover:bg-primary-500 hover:text-white hover:border-primary-500">
                        <span class="opacity-0">
                            0
                        </span>
                        <i class="material-symbols-outlined left-0 right-0 absolute top-1/2 -translate-y-1/2">
                            chevron_right
                        </i>
                    </a>
                </li>
            </ol>
        </div>
    </div>
</div>