<div class="trezo-card bg-white dark:bg-[#0c1427] p-[20px] md:p-[25px] rounded-md">
    <div class="trezo-card-header flex items-center justify-between">
        <div class="trezo-card-title flex items-center gap-[15px]">
            <div>
                <span class="block mb-[3px]">
                    Trading Volume
                </span>
                <h5 class="!mb-0 !text-[20px]">
                    $117,950
                </h5>
            </div>
            <span class="inline-block text-xs font-medium px-[8px] text-success-600 border border-success-600 bg-success-100 text-sm rounded-[100px] dark:bg-[#15203c] dark:border-[#15203c]">
                +7.6%
            </span>
        </div>
        <div class="trezo-card-subtitle">
            Last 7 days
        </div>
    </div>
    <div class="trezo-card-content">
        <div class="-mb-[25px] -mt-[3px]">
            <div id="trading_volume_chart"></div>
        </div>
    </div>
</div>