<div class="trezo-card bg-white dark:bg-[#0c1427] p-[20px] md:p-[25px] rounded-md">
    <div class="trezo-card-header mb-[20px] md:mb-[25px] flex items-center justify-between">
        <div class="trezo-card-title">
            <h5 class="!mb-0">
                Gainers & Losers
            </h5>
        </div>
        <div class="trezo-card-subtitle">
            Timeframe: 24h
        </div>
    </div>
    <div class="trezo-card-content -mx-[20px] md:-mx-[25px]">
        <div class="table-responsive overflow-x-auto">
            <table class="w-full">
                <tbody class="text-black dark:text-white">
                    <tr class="group">
                        <td class="ltr:text-left rtl:text-right whitespace-nowrap px-[20px] py-[11.9px] md:ltr:first:pl-[25px] md:rtl:first:pr-[25px] border-b border-gray-100 dark:border-[#172036] text-sm group-last:pb-0 group-last:border-b-0 group-first:pt-0 group-first:!border-t-0">
                            Goatseus Maximus
                        </td>
                        <td class="text-gray-500 dark:text-gray-400 text-center whitespace-nowrap px-[20px] py-[11.9px] md:ltr:first:pl-[25px] md:rtl:first:pr-[25px] border-b border-gray-100 dark:border-[#172036] text-sm group-last:pb-0 group-last:border-b-0 group-first:pt-0 group-first:!border-t-0">
                            $0.719
                        </td>
                        <td class="text-success-600 ltr:text-right rtl:text-left whitespace-nowrap px-[20px] py-[11.9px] md:ltr:first:pl-[25px] md:rtl:first:pr-[25px] border-b border-gray-100 dark:border-[#172036] text-sm group-last:pb-0 group-last:border-b-0 group-first:pt-0 group-first:!border-t-0">
                            + 47.44%
                        </td>
                    </tr>
                    <tr class="group">
                        <td class="ltr:text-left rtl:text-right whitespace-nowrap px-[20px] py-[11.9px] md:ltr:first:pl-[25px] md:rtl:first:pr-[25px] border-b border-gray-100 dark:border-[#172036] text-sm group-last:pb-0 group-last:border-b-0 group-first:pt-0 group-first:!border-t-0">
                            Uniswap
                        </td>
                        <td class="text-gray-500 dark:text-gray-400 text-center whitespace-nowrap px-[20px] py-[11.9px] md:ltr:first:pl-[25px] md:rtl:first:pr-[25px] border-b border-gray-100 dark:border-[#172036] text-sm group-last:pb-0 group-last:border-b-0 group-first:pt-0 group-first:!border-t-0">
                            $9.15
                        </td>
                        <td class="text-danger-500 ltr:text-right rtl:text-left whitespace-nowrap px-[20px] py-[11.9px] md:ltr:first:pl-[25px] md:rtl:first:pr-[25px] border-b border-gray-100 dark:border-[#172036] text-sm group-last:pb-0 group-last:border-b-0 group-first:pt-0 group-first:!border-t-0">
                            - 31.87%
                        </td>
                    </tr>
                    <tr class="group">
                        <td class="ltr:text-left rtl:text-right whitespace-nowrap px-[20px] py-[11.9px] md:ltr:first:pl-[25px] md:rtl:first:pr-[25px] border-b border-gray-100 dark:border-[#172036] text-sm group-last:pb-0 group-last:border-b-0 group-first:pt-0 group-first:!border-t-0">
                            Aave
                        </td>
                        <td class="text-gray-500 dark:text-gray-400 text-center whitespace-nowrap px-[20px] py-[11.9px] md:ltr:first:pl-[25px] md:rtl:first:pr-[25px] border-b border-gray-100 dark:border-[#172036] text-sm group-last:pb-0 group-last:border-b-0 group-first:pt-0 group-first:!border-t-0">
                            $161.05
                        </td>
                        <td class="text-success-600 ltr:text-right rtl:text-left whitespace-nowrap px-[20px] py-[11.9px] md:ltr:first:pl-[25px] md:rtl:first:pr-[25px] border-b border-gray-100 dark:border-[#172036] text-sm group-last:pb-0 group-last:border-b-0 group-first:pt-0 group-first:!border-t-0">
                            + 23.94%
                        </td>
                    </tr>
                    <tr class="group">
                        <td class="ltr:text-left rtl:text-right whitespace-nowrap px-[20px] py-[11.9px] md:ltr:first:pl-[25px] md:rtl:first:pr-[25px] border-b border-gray-100 dark:border-[#172036] text-sm group-last:pb-0 group-last:border-b-0 group-first:pt-0 group-first:!border-t-0">
                            Bittenso
                        </td>
                        <td class="text-gray-500 dark:text-gray-400 text-center whitespace-nowrap px-[20px] py-[11.9px] md:ltr:first:pl-[25px] md:rtl:first:pr-[25px] border-b border-gray-100 dark:border-[#172036] text-sm group-last:pb-0 group-last:border-b-0 group-first:pt-0 group-first:!border-t-0">
                            $526.97
                        </td>
                        <td class="text-danger-500 ltr:text-right rtl:text-left whitespace-nowrap px-[20px] py-[11.9px] md:ltr:first:pl-[25px] md:rtl:first:pr-[25px] border-b border-gray-100 dark:border-[#172036] text-sm group-last:pb-0 group-last:border-b-0 group-first:pt-0 group-first:!border-t-0">
                            - 22.94%
                        </td>
                    </tr>
                    <tr class="group">
                        <td class="ltr:text-left rtl:text-right whitespace-nowrap px-[20px] py-[11.9px] md:ltr:first:pl-[25px] md:rtl:first:pr-[25px] border-b border-gray-100 dark:border-[#172036] text-sm group-last:pb-0 group-last:border-b-0 group-first:pt-0 group-first:!border-t-0">
                            Injective
                        </td>
                        <td class="text-gray-500 dark:text-gray-400 text-center whitespace-nowrap px-[20px] py-[11.9px] md:ltr:first:pl-[25px] md:rtl:first:pr-[25px] border-b border-gray-100 dark:border-[#172036] text-sm group-last:pb-0 group-last:border-b-0 group-first:pt-0 group-first:!border-t-0">
                            $20.87
                        </td>
                        <td class="text-success-600 ltr:text-right rtl:text-left whitespace-nowrap px-[20px] py-[11.9px] md:ltr:first:pl-[25px] md:rtl:first:pr-[25px] border-b border-gray-100 dark:border-[#172036] text-sm group-last:pb-0 group-last:border-b-0 group-first:pt-0 group-first:!border-t-0">
                            + 21.41%
                        </td>
                    </tr>
                    <tr class="group">
                        <td class="ltr:text-left rtl:text-right whitespace-nowrap px-[20px] py-[11.9px] md:ltr:first:pl-[25px] md:rtl:first:pr-[25px] border-b border-gray-100 dark:border-[#172036] text-sm group-last:pb-0 group-last:border-b-0 group-first:pt-0 group-first:!border-t-0">
                            Monero
                        </td>
                        <td class="text-gray-500 dark:text-gray-400 text-center whitespace-nowrap px-[20px] py-[11.9px] md:ltr:first:pl-[25px] md:rtl:first:pr-[25px] border-b border-gray-100 dark:border-[#172036] text-sm group-last:pb-0 group-last:border-b-0 group-first:pt-0 group-first:!border-t-0">
                            $209.38
                        </td>
                        <td class="text-danger-500 ltr:text-right rtl:text-left whitespace-nowrap px-[20px] py-[11.9px] md:ltr:first:pl-[25px] md:rtl:first:pr-[25px] border-b border-gray-100 dark:border-[#172036] text-sm group-last:pb-0 group-last:border-b-0 group-first:pt-0 group-first:!border-t-0">
                            - 0.84%
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>