<div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-4 gap-[25px] mb-[25px]">

    <!-- Total Listings -->
    <div class="trezo-card bg-white dark:bg-[#0c1427] p-[20px] md:p-[25px] rounded-md">
        <div class="trezo-card-content flex items-center justify-between">
            <div>
                <span class="block">
                    {{ 'REA_STATS.TOTAL_LISTINGS' | translate }}
                </span>
                <h3 class="!leading-none !text-xl mt-[6px] !mb-[11px]">
                    3251
                </h3>
            </div>
            <div>
                <img src="images/buildings/building1.png" alt="building-image">
            </div>
        </div>
    </div>

    <!-- Sales Volume -->
    <div class="trezo-card bg-white dark:bg-[#0c1427] p-[20px] md:p-[25px] rounded-md">
        <div class="trezo-card-content flex items-center justify-between">
            <div>
                <span class="block">
                    {{ 'REA_STATS.TOTAL_CONTACT' | translate }}
                </span>
                <h3 class="!leading-none !text-xl mt-[6px] !mb-[11px]">
                    20
                </h3>
            </div>
            <div>
                <img src="images/buildings/building2.png" alt="building-image">
            </div>
        </div>
    </div>

    <!-- Active Deals -->
    <div class="trezo-card bg-white dark:bg-[#0c1427] p-[20px] md:p-[25px] rounded-md">
        <div class="trezo-card-content flex items-center justify-between">
            <div>
                <span class="block">
                    {{ 'REA_STATS.TODAYS_FOLLOW_UP' | translate }}
                </span>
                <h3 class="!leading-none !text-xl mt-[6px] !mb-[11px]">
                    1124
                </h3>
            </div>
            <div>
                <img src="images/buildings/building3.png" alt="building-image">
            </div>
        </div>
    </div>

    <!-- Closed Deals -->
    <div class="trezo-card bg-white dark:bg-[#0c1427] p-[20px] md:p-[25px] rounded-md">
        <div class="trezo-card-content flex items-center justify-between">
            <div>
                <span class="block">
                    {{ 'REA_STATS.CLOSED_DEALS' | translate }}
                </span>
                <h3 class="!leading-none !text-xl mt-[6px] !mb-[11px]">
                    2312
                </h3>
            </div>
            <div>
                <img src="images/buildings/building4.png" alt="building-image">
            </div>
        </div>
    </div>

</div>