<div class="sidebar-area bg-white dark:bg-[#0c1427] fixed overflow-hidden z-[7] top-0 h-screen transition-all rounded-r-md">
    <div class="logo bg-white dark:bg-[#0c1427] border-b border-gray-100 dark:border-[#172036] px-[25px] pt-[19px] pb-[15px] absolute z-[2] right-0 top-0 left-0">
        <a routerLink="/dashboard" class="transition-none relative flex items-center">
            <img src="images/logo-icon.svg" alt="logo-icon">
            <span class="font-bold text-black dark:text-white relative ltr:ml-[8px] rtl:mr-[8px] top-px text-xl">
                Voicely
            </span>
        </a>
        <button type="button" class="burger-menu inline-block absolute z-[3] top-[24px] ltr:right-[25px] rtl:left-[25px] transition-all hover:text-primary-500" id="hide-sidebar-toggle2">
            <i class="material-symbols-outlined">
                close
            </i>
        </button>
    </div>
    <ng-scrollbar visibility="hover" class="!h-screen">
        <div class="pt-[89px] px-[25px] pb-[20px]">
            <div class="accordion">
                <span class="block relative font-medium uppercase text-gray-400 mb-[10px] text-xs">
                    {{ 'SIDEBAR.MAIN' | translate }}
                </span>
                <div class="accordion-item rounded-md text-black dark:text-white mb-[5px] whitespace-nowrap">
                    <a routerLink="/dashboard" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" class="accordion-button flex items-center transition-all py-[9px] ltr:pl-[14px] ltr:pr-[30px] rtl:pr-[14px] rtl:pl-[30px] rounded-md font-medium w-full relative hover:bg-gray-50 text-left dark:hover:bg-[#15203c]">
                        <i class="material-symbols-outlined transition-all text-gray-500 dark:text-gray-400 ltr:mr-[7px] rtl:ml-[7px] !text-[22px] leading-none relative -top-px">
                            dashboard
                        </i>
                        <span class="title leading-none">
                            {{ 'SIDEBAR.HOME' | translate }}
                        </span>
                    </a>
                </div>
                <div class="accordion-item rounded-md text-black dark:text-white mb-[5px] whitespace-nowrap">
                    <a routerLink="/dashboard/lead-management" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" class="accordion-button flex items-center transition-all py-[9px] ltr:pl-[14px] ltr:pr-[30px] rtl:pr-[14px] rtl:pl-[30px] rounded-md font-medium w-full relative hover:bg-gray-50 text-left dark:hover:bg-[#15203c]">
                        <i class="material-symbols-outlined transition-all text-gray-500 dark:text-gray-400 ltr:mr-[7px] rtl:ml-[7px] !text-[22px] leading-none relative -top-px">
                            headset_mic
                        </i>
                        <span class="title leading-none">
                            {{ 'SIDEBAR.LEAD_MANAGEMENT' | translate }}
                        </span>
                    </a>
                </div>
                <div class="accordion-item rounded-md text-black dark:text-white mb-[5px] whitespace-nowrap">
                    <a routerLink="/dashboard/contacts" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" class="accordion-button flex items-center transition-all py-[9px] ltr:pl-[14px] ltr:pr-[30px] rtl:pr-[14px] rtl:pl-[30px] rounded-md font-medium w-full relative hover:bg-gray-50 text-left dark:hover:bg-[#15203c]">
                        <i class="material-symbols-outlined transition-all text-gray-500 dark:text-gray-400 ltr:mr-[7px] rtl:ml-[7px] !text-[22px] leading-none relative -top-px">
                            contacts
                        </i>
                        <span class="title leading-none">
                            {{ 'SIDEBAR.CONTACTS' | translate }}
                        </span>
                    </a>
                </div>
                <div class="accordion-item rounded-md text-black dark:text-white mb-[5px] whitespace-nowrap">
                    <a routerLink="/dashboard/leads" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" class="accordion-button flex items-center transition-all py-[9px] ltr:pl-[14px] ltr:pr-[30px] rtl:pr-[14px] rtl:pl-[30px] rounded-md font-medium w-full relative hover:bg-gray-50 text-left dark:hover:bg-[#15203c]">
                        <i class="material-symbols-outlined transition-all text-gray-500 dark:text-gray-400 ltr:mr-[7px] rtl:ml-[7px] !text-[22px] leading-none relative -top-px">
                            leaderboard
                        </i>
                        <span class="title leading-none">
                            {{ 'SIDEBAR.LEADS' | translate }}
                        </span>
                    </a>
                </div>
                <div class="accordion-item rounded-md text-black dark:text-white mb-[5px] whitespace-nowrap">
                    <a routerLink="/dashboard/campaigns" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" class="accordion-button flex items-center transition-all py-[9px] ltr:pl-[14px] ltr:pr-[30px] rtl:pr-[14px] rtl:pl-[30px] rounded-md font-medium w-full relative hover:bg-gray-50 text-left dark:hover:bg-[#15203c]">
                        <i class="material-symbols-outlined transition-all text-gray-500 dark:text-gray-400 ltr:mr-[7px] rtl:ml-[7px] !text-[22px] leading-none relative -top-px">
                            campaign
                        </i>
                        <span class="title leading-none">
                            {{ 'SIDEBAR.CAMPAIGNS' | translate }}
                        </span>
                    </a>
                </div>
                
                <div class="accordion-item rounded-md text-black dark:text-white mb-[5px] whitespace-nowrap">
                    <a routerLink="/dashboard/app-settings" routerLinkActive="active" class="accordion-button flex items-center transition-all py-[9px] ltr:pl-[14px] ltr:pr-[30px] rtl:pr-[14px] rtl:pl-[30px] rounded-md font-medium w-full relative hover:bg-gray-50 text-left dark:hover:bg-[#15203c]">
                        <i class="material-symbols-outlined transition-all text-gray-500 dark:text-gray-400 ltr:mr-[7px] rtl:ml-[7px] !text-[22px] leading-none relative -top-px">
                            settings
                        </i>
                        <span class="title leading-none">
                            {{ 'SIDEBAR.APP_SETTINGS' | translate }}
                        </span>
                    </a>
                </div>
                
            </div>
        </div>
    </ng-scrollbar>
</div>