.timeline-scroll {
    max-height: calc(100vh - 360px);

    @media (min-width: 1024px) {
        max-height: calc(100vh - 340px);
    }
}

.timeline-item:last-child .timeline-line {
    display: none;
}

.line-clamp-2 {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
}
