<div class="grid grid-cols-1 lg:grid-cols-3 gap-[25px] mb-[25px]">
    <div class="lg:col-span-1">

        <!-- Congratulations -->
        <app-congratulations />

        <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-1 xl:grid-cols-2 gap-[25px]">

            <!-- Tickets Resolved -->
            <app-tickets-resolved />

            <!-- Tickets In Progress -->
            <app-tickets-in-progress />
            
            <!-- Tickets Due -->
            <app-tickets-due />
            
            <!-- Tickets New Open -->
            <app-tickets-new-open />
                
        </div>
        
    </div>
    <div class="lg:col-span-2">

        <!-- Tickets Status -->
        <app-tickets-status />

        <div class="grid grid-cols-1 xl:grid-cols-2 gap-x-[25px]">

            <!-- Customer Satisfaction -->
            <app-customer-satisfaction />

            <!-- Response Time -->
            <app-response-time />
                
        </div>

    </div>
</div>

<!-- Performance of Agents -->
<app-performance-of-agents />

<div class="grid grid-cols-1 lg:grid-cols-5 gap-[25px] mb-[25px]">
    <div class="lg:col-span-3">

        <!-- New Tickets vs Solved Tickets -->
        <app-new-tickets-solved-tickets />
        
    </div>
    <div class="lg:col-span-2">

        <!-- Recent Customer Ratings -->
        <app-recent-customer-ratings />

    </div>
</div>
    
<div class="grid grid-cols-1 lg:grid-cols-3 gap-[25px] mb-[25px]">
    <div class="lg:col-span-2">

        <!-- To Do List -->
        <app-to-do-list />

    </div>
    <div class="lg:col-span-1">

        <!-- Support Overview -->
        <app-support-overview />

    </div>
</div>