<div class="trezo-card bg-white dark:bg-[#0c1427] p-[20px] md:p-[25px] rounded-md">
    <div class="trezo-card-header mb-[20px] md:mb-[25px] flex items-center justify-between">
        <div class="trezo-card-title">
            <h5 class="!mb-0">
                Asset Allocation
            </h5>
        </div>
        <div class="trezo-card-subtitle">
            Last 30 Days
        </div>
    </div>
    <div class="trezo-card-content">
        <span class="block">
            Total Value
        </span>
        <h5 class="!mb-0 mt-[5px] !text-[20px]">
            $17,485
        </h5>
        <div class="-mt-[15px]">
            <div id="ct_asset_allocation_chart"></div>
        </div>
    </div>
</div>