<div class="trezo-card bg-white dark:bg-[#0c1427] p-[20px] md:p-[25px] rounded-md mb-[25px]">
    <div class="trezo-card-header mb-[20px] md:mb-[25px] flex items-center justify-between">
        <div class="trezo-card-title">
            <h5 class="!mb-0">
                Popular Rooms
            </h5>
        </div>
    </div>
    <div class="trezo-card-content relative" id="popularRoomsSlides">
        <owl-carousel-o [options]="popularRoomsSlides">
            <ng-template carouselSlide>
                <div class="relative">
                    <a routerLink="." class="block rounded-md">
                        <img src="images/rooms/room6.jpg" alt="room-image" class="rounded-md">
                    </a>
                    <span class="inline-block text-xs font-medium px-[9px] text-danger-700 border border-danger-400 bg-danger-100 dark:bg-[#15203c] dark:border-[#15203c] rounded-[100px] absolute top-[10px] ltr:right-[10px] rtl:left-[10px]">
                        Booked
                    </span>
                </div>
                <h6 class="!font-semibold mt-[15px] !mb-[5px] !text-md">
                    <a routerLink="." class="text-black dark:text-white hover:text-primary-500 transition-all">
                        The Velvet - F - 32045
                    </a>
                </h6>
                <span class="block">
                    Code <strong class="font-semibold">SJ-32056</strong>
                </span>
            </ng-template>
            <ng-template carouselSlide>
                <div class="relative">
                    <a routerLink="." class="block rounded-md">
                        <img src="images/rooms/room7.jpg" alt="room-image" class="rounded-md">
                    </a>
                    <span class="inline-block text-xs font-medium px-[9px] text-success-700 border border-success-500 bg-success-100 dark:bg-[#15203c] dark:border-[#15203c] rounded-[100px] absolute top-[10px] ltr:right-[10px] rtl:left-[10px]">
                        Available
                    </span>
                </div>
                <h6 class="!font-semibold mt-[15px] !mb-[5px] !text-md">
                    <a routerLink="." class="text-black dark:text-white hover:text-primary-500 transition-all">
                        Duluxe Room - G - 3215
                    </a>
                </h6>
                <span class="block">
                    Code <strong class="font-semibold">SJ-56721</strong>
                </span>
            </ng-template>
            <ng-template carouselSlide>
                <div class="relative">
                    <a routerLink="." class="block rounded-md">
                        <img src="images/rooms/room8.jpg" alt="room-image" class="rounded-md">
                    </a>
                    <span class="inline-block text-xs font-medium px-[9px] text-danger-700 border border-danger-400 bg-danger-100 dark:bg-[#15203c] dark:border-[#15203c] rounded-[100px] absolute top-[10px] ltr:right-[10px] rtl:left-[10px]">
                        Booked
                    </span>
                </div>
                <h6 class="!font-semibold mt-[15px] !mb-[5px] !text-md">
                    <a routerLink="." class="text-black dark:text-white hover:text-primary-500 transition-all">
                        The Garden Suite 101
                    </a>
                </h6>
                <span class="block">
                    Code <strong class="font-semibold">SJ-54214</strong>
                </span>
            </ng-template>
            <ng-template carouselSlide>
                <div class="relative">
                    <a routerLink="." class="block rounded-md">
                        <img src="images/rooms/room9.jpg" alt="room-image" class="rounded-md">
                    </a>
                    <span class="inline-block text-xs font-medium px-[9px] text-success-700 border border-success-500 bg-success-100 dark:bg-[#15203c] dark:border-[#15203c] rounded-[100px] absolute top-[10px] ltr:right-[10px] rtl:left-[10px]">
                        Available
                    </span>
                </div>
                <h6 class="!font-semibold mt-[15px] !mb-[5px] !text-md">
                    <a routerLink="." class="text-black dark:text-white hover:text-primary-500 transition-all">
                        The Tranquil S-02
                    </a>
                </h6>
                <span class="block">
                    Code <strong class="font-semibold">SJ-45672</strong>
                </span>
            </ng-template>
            <ng-template carouselSlide>
                <div class="relative">
                    <a routerLink="." class="block rounded-md">
                        <img src="images/rooms/room6.jpg" alt="room-image" class="rounded-md">
                    </a>
                    <span class="inline-block text-xs font-medium px-[9px] text-danger-700 border border-danger-400 bg-danger-100 dark:bg-[#15203c] dark:border-[#15203c] rounded-[100px] absolute top-[10px] ltr:right-[10px] rtl:left-[10px]">
                        Booked
                    </span>
                </div>
                <h6 class="!font-semibold mt-[15px] !mb-[5px] !text-md">
                    <a routerLink="." class="text-black dark:text-white hover:text-primary-500 transition-all">
                        The Velvet - F - 32045
                    </a>
                </h6>
                <span class="block">
                    Code <strong class="font-semibold">SJ-32056</strong>
                </span>
            </ng-template>
        </owl-carousel-o>
    </div>
</div>