<!-- Stats -->
<app-stats />

<div class="grid grid-cols-1 xl:grid-cols-3 gap-[25px] mb-[25px]">
    <div class="xl:col-span-2">

        <!-- Price Movement -->
        <app-price-movement />

    </div>
    <div class="xl:col-span-1">
        <div class="grid grid-cols-1 md:grid-cols-2 xl:grid-cols-1 gap-[25px]">

            <!-- Trading Volume -->
            <app-trading-volume />

            <!-- Portfolio Distribution -->
            <app-portfolio-distribution />

        </div>
    </div>
</div>

<div class="grid grid-cols-1 lg:grid-cols-3 gap-[25px] mb-[25px]">
    <div class="lg:col-span-2">
        <div class="grid grid-cols-1 md:grid-cols-2 gap-[25px] mb-[25px]">

            <!-- Profit & Loss -->
            <app-profit-loss />

            <!-- Risk Exposure -->
            <app-risk-exposure />
                
        </div>

        <!-- Recent Transactions -->
        <app-recent-transactions />

    </div>
    <div class="lg:col-span-1">

        <!-- Live Price Tracker -->
        <app-live-price-tracker />

        <!-- Trades Per Month -->
        <app-trades-per-month />

    </div>
</div>
    
<div class="grid grid-cols-1 lg:grid-cols-3 gap-[25px] mb-[25px]">

    <!-- Asset Allocation -->
    <app-asset-allocation />

    <!-- Gainers & Losers -->
    <app-gainers-losers />
    
    <!-- Market Sentiment Indicator -->
    <app-market-sentiment-indicator />
        
</div>