<div class="bg-orange-100 dark:bg-[#0a0e19] p-[20px] rounded-md">
    <span class="block">
        Check In
    </span>
    <h1 class="!leading-none !text-2xl !font-black mt-[5px] !mb-[11px]">
        245
    </h1>
    <span class="inline-block text-xs px-[9px] text-success-700 border border-success-500 bg-success-100 dark:bg-[#15203c] dark:border-[#15203c] text-sm rounded-[100px]">
        +3.4%
    </span>
    <div class="bg-white dark:bg-[#0c1427] rounded-full w-[79px] h-[79px] flex items-center justify-end -mt-[14px] ltr:ml-auto rtl:mr-auto">
        <img src="images/icons/check-in-desk.svg" alt="check-in-desk">
    </div>
</div>